.content {
  position: relative;
  font-family: 'Satoshi';
  overflow: hidden;
  padding-top: 100px;
  color: var(--white);
  width: 100%;
}

.mainContent{
  height: calc(99vh - var(--navbarHeight));
  width: 100%;
}


.imageIndex{
  place-self: end;
  width: 100%;
  font-size: 18px;
  text-align: end;
  z-index: 999;
}

.currentImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 70%;
}

.image {
  position: absolute;
  animation-duration:0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  place-self: center;
  height: 100%;
  max-width: 100%;
}

.allImagesScrollWrapper{
  margin-top: 1vh;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.swipeRight {
  animation-name: swipeFromRight;
}

.swipeRightSlow{
   animation-name: swipeFromRightSlow;
}

.swipeLeft {
  animation-name: swipeFromLeft;
}

.swipeOutLeft {
  animation-name: swipeOutToLeft;
}

.swipeOutRight {
  animation-name: swipeOutFromRight;
}


@keyframes swipeFromRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeFromRightSlow {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeOutToLeft {
  from {
     transform: translateX(0);
     opacity: 1;
  }
  to { 
    transform: translateX(-150%);
    opacity: 0; 
    }
}

@keyframes swipeFromLeft {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
     opacity: 1;
  }
}

@keyframes swipeOutFromRight {
  from { 
    transform: translateX(0);
    opacity: 1;
  }
  to { transform: translateX(150%);
     opacity: 0
    }
}


@media screen and (max-width: 740px) {
   .imageIndex{
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    font-size: 0.8rem;
   }

   .image {
    position: relative;
    height: 100%;
   }

   .imageWrapper{
    place-self: flex-start;
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
   }
   .currentImage {
    justify-content: flex-start;
   }

   .mainContent{
     height: calc(99dvh - var(--navbarHeight));
   }

   .allImagesScrollWrapper{
    grid-template-columns: unset;
}
 }

 @media screen and (max-width : 410px){

 }

