.imgProject {
    width: 40%;
    height: 50%;
}

.textLanguage{
    font-size: 20px;
}

.borderProject{
    border : none;
    border-width: 1px;
    background-color: transparent;
    padding: 7px;
    border-radius: 15px 15px 15px 15px;
}

