.imgProject {
    width: 45%;
}

.textLanguage{
    font-size: 20px;
}

.borderProject{
    border-radius:5px 5px 5px 5px; 
    background-color:#93aad2;
    margin-left: -1px;
    color: black;
    opacity: 70%;
}

.modalProjet{
    height: max-content;
}

.skillBoxProject{
height:50%;
}

.borderProject:hover,
  .borderProject:focus {
    color: #122620;
    background-color:#859fcc;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }


@media screen and (max-width: 600px) {
    .imgProject{
        width: 100%;
    }
    .borderProject{
        width: 100%;
    }
}

@media screen and 
(min-width: 601px) and (max-width: 990px){
    .imgProject{
        width: 100%;
    }
    .borderProject{
        width: 100%;
    }
}


