
@font-face {
  font-family: dxfont;
  src: url(fonts/Questrial-Regular.ttf);
}



.logo {
 color: #B68D40;
 font-family: dxfont;
 text-align: center;
 font-size: 8vw;
 line-height:7vw;
 margin-bottom: 20px;
}

.bg {
  background : #122620;
  height: 100vh;
}

#content {
  margin-top: 30vh;
  width: 45%;
}

.menuMainPage{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2px;
  border-radius:12px 12px 12px 12px;
  background-color: #B68D40;

}

.btnView{
background-color: #B68D40;
color: #F4EBD0 ;
font-size: 1.5vw;
border: hidden;
font-family: dxfont;
border-radius:12px 12px 12px 12px;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size:18vw;
  }
  .btnView{
    font-size: 3.5vw;
   }

  #content {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1400px)  {
 #content {
  width: 60%;
 }
 .logo {
  font-size: 12vw;
 }

 .btnView{
  font-size: 2vw;
 }
}
