
.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.stackList {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.item {
    min-width: 60px;
    text-align: center;
    list-style: none;
    font-size: 1.1rem;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid var(--white);
}

 @media screen and (max-width: 1100px) {
.stackList {
    width: 55%;
}
.item {
    margin: 4px;
    padding: 4px;
    border: 1px solid var(--white);
    flex-grow: 1;
   }
 }

 @media screen and (max-width: 740px) {
   .stackList {
    width: 100%;
    font-size: 0.9rem;
   }

   .item {
    margin: 4px;
    padding: 4px;
    border: 1px solid var(--white);
    flex-grow: 1;
   }
 }