.image{
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
}

.singlePicture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singlePicture:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.imageScrollWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
}

.picture {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.loading {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  min-width: 300px;
  display: flex;
  position: absolute;
}

.loadingWrapper {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeletonWrapper {
  background-color: black;
  background-image: none;
}

@media screen and (max-width: 740px) {
   .image {
    padding-bottom: 0;
    max-height: 100%;
   }

   .wrapper {
     height: 100%;
     flex-direction: column;
     justify-content: flex-end;
   }

   .singlePicture:hover {
  transform: unset;
  transition: unset;
}
 }

