.content {
  position: relative;
  padding-top: 100vh;
  color: var(--white);
  font-family: 'Satoshi';
}

.title {
   font-size: 2rem !important;
   width: max-content;
    font-family: 'Namata';
}

@media screen and (max-width: 770px) {
  .title {
    font-size: 1.5rem !important;
  }
}


