.imgContactMe{
    height: 100%;
    background-color: var(--white);
}

.contactMe {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    font-size: 0.9rem;
    gap: 10px;
    justify-content: space-between;
    align-items: first baseline;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    font-size: inherit;
}

 @media screen and (max-width: 1100px) {
.contactMe {
    font-size: 0.8rem;
}

 }

