@font-face {
  font-family: 'Namata';
  src: url('./assets/fonts/namata/NamataSemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Namata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

p {
    margin: 0;
  }

h1 {
  margin: 0;
  font-size: 1.5rem !important;
}  

h2 {
  margin: 0;
}

:root {
  --white : #D9D9D9;
  --black : #000000;
  --smRootPadding : 20px;
  --responsiveRootPadding : 0px;
  --displayContent : block;
  --hideContent : none;
  --scrollbar-width: 0px;
  --pageHeaderTitle : 1.5rem;
  --navbarHeight : 100px;
  --imageCategoriesHeight : 32px;
}

.border4white{
    border-top: 4px solid var(--white) !important;
}

.abtWrapper{
    display: flex;
    justify-content: space-between;
    color: var(--white);
    border-top: 2px solid var(--white);
    padding-top: 30px;
    padding-bottom: 80px;

}

.abtTitle {
    width: 50%;
    padding-left: 100px;
    font-size: var(--pageHeaderTitle);
}

.mainWrapper {
  height: 100vh;
  box-sizing: border-box;
}

.defaultPadding {
  padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {

.defaultPadding {
  padding-left: 20px;
  padding-right: 20px;
}

.abtTitle {
  padding-left: 20px;
  width: 45%;
}
}

 @media screen and (max-width: 740px) {

/* Change default padding when the burger menu is open */
.responsiveMenu  .content{
  overflow: hidden;
  display: var(--hideContent);
}

.abtWrapper{
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.abtTitle {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}

 }

 .content .abtWrapper:nth-last-child(2) {
  padding-bottom: 0;
}







