.customSelect {
  border : solid 1px var(--white);
  background-color: var(--black);
  cursor: pointer;
  user-select: none;
}

.selectedOption {
 height: max-content;
 padding: 5px;
}

.selectOptions {
  margin: 0;
  padding: 1px;
  border: none;
  border-top : solid 1px var(--white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

.selectOption {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.selectOption:hover{
background-color: var(--white);
color: var(--black);
}

