.curentImageWrapper{
    border-top: 2px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    gap: 30px;
}

.rootWrapper{
    padding-top: 10px;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 25%;
}

.nav img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.header{
    width: 25%;
}

.desc {
    width: 80%;
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
 
}

 @media screen and (max-width: 1100px) {
    .rootWrapper{
        height: 35%;
        align-items: flex-start;
    }

    .curentImageWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto  1fr;
        flex-wrap: wrap;
        margin-top: 15px;
        height: 100%;
        align-content: flex-start;
        margin-top: 0px;
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
        flex-grow: 1;
        gap: 15px;
    }

    .header {
        order: 1;
        width: 50%;
    }


    .desc {

        order: 3;
        width: 100%;
        overflow-y: auto;
        flex-grow: 1;
        grid-column: 1 / -1;

    }

    .nav{
        width: 50%;
        order: 2;
        align-self: center;
        justify-self: end;
    }
 }

  @media screen and (max-width: 740px) {
    .rootWrapper{
        height:50%;
        align-items: flex-start;
    }

    .desc {
         font-size: 0.8rem;
    }

    .header{
     font-size: 0.9rem;
    }

     .header h1{
        font-size: 1rem;
    }
  }